#container {
    min-height: 100%;
    padding: 100px 00px;
    background: #36446c;
}

.row {
    max-width: 89rem;
}

#content {
    background: #ecf0f1;
    background: #4E6378;
}

#sidebar {
    background: #4E6378;
    min-height: 100%;
}

#sidebar {
    height: 100%;
}
#sidebar .logo img{
    width: 80px;
}

#sidebar .menu{
    margin-left: -15px;
    margin-right: -15px;
}

#sidebar .logo {
    text-align: center;
    padding: 10px;
}



#sidebar ul li a {
    padding-left: 15px;
    color: #dbdbdb;
    font-size: 15px;
}

.active a{
    background: #3d546c !important;
    color: #ffffff !important;
}

#sidebar ul li a i{
    width: 32px;
    font-size: 18px;
    color: #0986b1
}
.details {
    padding-top: 300px;
}

.details p{
    padding: 0;
    margin: 10px 0;
    color: #eee;
    font-weight: bolder;
}

.progress {
    height: 7px;
    background: #888;
    margin-bottom: 80px !important;
}

.account {
    padding: 8px 0;
    text-align: center;
    border: 2px solid #00a4db;
    border-radius: 5px;
    cursor: pointer;
}

.details a{
    padding: 10px 20px;
    width: 100%;
    color: #e0e0e0;
}
#page-content {
    height: auto;
    background: #e2e2e2;
}

.photos img {
    height: 150px;
}

.search {
    color: #777777;
}.search i{
    color: #888888;
    padding-right: 5px;
}

.photos p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding: 3px;
}

.photos p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding: 3px;
}

#page-content .row {
  display: flex
}

.header-photo {
    padding: 0px;
    padding-left: 15px;
    padding-top: 10px;
}

.header-photo p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #999;
}
name {
    text-align: right;
}

.name i{
    padding-right: 10px;
    color: #999;
}

.top-actions {
    list-style: none;
    display: inline-block;
    padding: 10px 0;
    margin: 0;
    height: 100%;
    margin-left: -15px;
}

.top-actions li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

.top-actions li:first-of-type{
    padding-left: 15px;
}

.col-x-5 {
    width: 20%;
    float: left;
    padding: 15px;
    border: 0px dotted;
    position: relative;
}


.col-x-5 {
    width: 100%;
    float: left;
}

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 70% !important;
}

.image-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}
